* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DDF2FC;
}

.canvas-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 90px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #F4FBFF;
}

#canvas {
  margin-left: 50px;
}

/* Affichage infos  */
#affichagesin {
  color: blue;
}

#affichagecos {
  color: red;
}

#affichagetan {
  color: green;
}

#affichageAngle {
  color: #FFC22D;
}

#affichageAngleRadian {
  color: rgb(200, 99, 116);
}

/* Graphique */
#graphique {
  margin-top: 40px;
  max-width: 500px;
  max-height: 250px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

label input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

label span {
  padding-left: 20px;
  position: relative;
}

label span:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

label input[type="checkbox"]:checked+span:before {
  content: "\2713";
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 16px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
  padding: 0px;
  margin: 0px;
}


/* Style des boutons */

button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}